body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.navTop {
    display: none;
}

.mobile {
    display: none;
}

section {
    display: flex;
    margin: 0 20px;
    gap: 20px;
    justify-content: space-between;
}

/*----------------WAITING LIST----------------*/
.left {
    flex: 6;
    margin-right: 40px;
}

.tableTop {
    text-align: center;
    margin-bottom: 15px;
}

.tableTitle {
    margin-bottom: -10px;
}

.tableTitle p {
    font-size: 24px;
    font-weight: 500;
}


.playersTable,
.card {
    border: 2px solid #C95D4D;
    border-radius: 15px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    font-size: 20px;
    padding: 20px 0 23px 20px;
    align-self: end;
    color: #222222;
    font-weight: 500;
}

th:nth-child(1) pre{
    text-align: center;
}

th pre{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: start;
}



#waitingList tr:nth-child(odd) {
    background-color: #F5F5F5;
    border: 1px solid #ddd;
}

td {
    padding: 15px 0;
}

tr,
.soft {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

td:nth-child(2) {
    font-weight: 700;
    padding-left: 40px !important;
}

th:nth-child(2),
td:nth-child(2)
 {
    text-align: start;
    padding-left: 30px;
    max-width: 100px !important;
}

td:nth-child(3) {
    text-align: left;
    padding-left: 45px;
}

td:nth-child(4) {
    padding-left: 30px;
}

td:nth-child(3),
th:nth-child(3),
td:nth-child(4),
th:nth-child(4) {
    width: 190px;
}

td:nth-child(4),
th {
    text-align: left;
}

th:nth-child(4) {
    min-width: 160px
}

th:nth-child(3){
    min-width: 160px;
    padding:30px 0 0 46px;
}


th:nth-child(5) {
    font-size: 24px;
    min-width: 160px;
    text-align: end;
    padding:30px 20px 0 0;
}


.bolder {
    color: #414141;
    font-weight: 700;
    font-size: 24px;
}

.trash {
    display: none;
}

/*-----------------RIGHT SIDE-----------------*/
.right {
    flex: 5;
    min-width: 300px;
}

/*----------------ANNOUNCEMENTS----------------*/

.title {
    text-align: center;
    margin-bottom: -10px;
}

.title p {
    font-size: 24px;
}

.cardTitle {
    text-align: center;
    margin-top: -10px;
    margin-bottom: -10px;
}

.cardTitle p {
    font-size: 24px;
}

.cardDate {
    display: flex;
    padding: 0 20px;
    font-weight: 300;
    justify-content: space-between;
}

.cardInfo {
    background-color: #FFDCD1;
    font-weight: 300;
    text-align: justify;
    padding: 20px;
    margin-bottom: 25px;
}

/*----------------COURTS----------------*/
.courts {
    text-align: center;
}

.courtsTitle {
    margin-top: -10px;
}

.courtsTitle p {
    font-size: 24px;
}

.cardsGroup {
    margin: 0 60px -10px 60px;
    display: grid;
    grid-template-columns: 110px 110px 110px 110px;
    justify-content: space-between;
    column-gap: 50px;

}

.cardsGroup .courtsCard {
    height: 200px;
}

.courtsCard {
    box-shadow: 0 0 3px 3px #f20000b3;
    border: 10px solid white;
    border-radius: 8px;
    margin-bottom: 50px;
    font-size: 14px;
    text-align: center;
}


.cardContent {
    border: 5px solid black;
    border-radius: 4px;
    background-image: url("./icons/Background.png");

}

.cardContent div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32%;
}

.cardContent div:nth-child(2) span {
    width: 130%;
    margin: 0 -5px;
    padding: 3px 0;
    background-color: #C95D4D;
    color: white;
    border-radius: 4px;
}

.compass {
    margin-top: 20px;
}

/*----------------BUTTON----------------*/
.button {
    margin: 0 -10px;
    position: relative;
}

button {
    width: 100%;
    height: 80px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    margin-bottom: 90px;
    /*ToDo*/
    border-radius: 4px;
    background-color: #C95D4D;
}

/*----------------RESPONSIVE TO THE WEB----------------*/



@media screen and (max-width: 1650px) {
    .cardsGroup {
        margin: 0 30px 0 30px;
        column-gap: 20px;
    }
}




@media screen and (max-width: 1370px) {
    .cardsGroup {
        grid-template-columns: repeat(3, 0.3fr);
    }

    .cardContent div {
        font-size: 12px;
    }


}

@media screen and (max-width: 1100px) {

    .cardsGroup {
        grid-template-columns: repeat(2, 0.4fr);
        margin: 0 30px 0 30px;
        column-gap: 10px;
    }

    /* .cardsGroup .courtsCard {
        width: 90px;
        height: 150px;
    }
 */

}

@media screen and (max-width: 796px) {


    .cardsGroup .courtsCard {
        width: 110px;
        height: 180px;
    }

    .cardContent div {
        font-size: 14px;
    }

}

@media screen and (max-width:768px) {

    tr .web {
        display: none;
    }

    .compass {
        display: none;
    }

    .cardTitle {
        display: contents;
    }

    .cardTitle h5 {
        margin: 20px 10px;
    }
}

/*----------------FOR MOBILE DEVICES----------------*/
@media screen and (max-width: 576px) {

    section {
        display: block;
        grid-template-columns: max-content;
        position: relative;
    }

    .mobile {
        display: unset;
    }

    /*----------------DISPLAY NONE----------------*/
    .courts {
        display: none;
    }

    .announcements {
        display: none;
    }

    .expanded {
        display: none;
    }

    .web {
        display: none;
    }

    /*----------------NAVBAR----------------*/
    nav {
        grid-template-columns: max-content;
        background: linear-gradient(180deg, #B74534 0%, #C95D4D 100%);
        border-radius: 0px 0px 15px 15px;

    }

    .navTop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;

    }

    .navItem {
        cursor: pointer;
    }

    .search {
        display: flex;
        align-items: center;
        background-color: white;
        padding: 6px 9px 6px 6px;
        border-radius: 4px;
    }

    .searchInput {
        border: none;
    }

    /*----------------LEFT SIDE----------------*/
    .left {
        margin: auto;
    }
    
    /*app.js side for selectedItem*/
    .red{
        color: #C95D4D;
    }

    .playersTable {
        border: 2px solid #C95D4D;
        max-width: 365px;
        min-height: 210px;
    }

    table {
        table-layout: fixed;
    }

    .tableTop {
        text-align: start;
        display: flex;
        margin: 0 10px -10px;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;
    }

    .tableTitle {
        align-items: center;
        display: flex;
        margin-bottom: 0;
    }

    .tableTitle p {
        font-size: 18px;
    }

    .tableTitle div {
        margin-right: 30px;
    }

    th {
        padding: 10px 0 5px 9px !important;
        font-size: 14px;
        width: 80px;
    }

    th:nth-child(5) {
        font-size: 14px;
        margin-right: 14px;
        font-weight: 500
    }


    td:nth-child(5),
    th:nth-child(5) {
        float: right;
        font-size: 12;
        min-width: 100px;
    }

    tr:nth-child(3) {
        font-weight: 500;
    }

    th:nth-child(3){
        padding-left: 13px;
        width: 120px;
        font-weight: 500;
    }

    td:nth-child(4){
        width: 120px;
        padding-left: 0px;
    }

    td:nth-child(3),
    th:nth-child(4) {
        padding-left: 7px;
        width: 120px;
    }

    td:nth-child(3),
    td:nth-child(4) {
        line-height: 10px;
    }

    td {
        padding: 7px 0;
        font-size: 12px;
        width: 80px;
    }

    td .bolder{
        margin-left: 12px;
        font-size: 16;
    }

    .bolder,
    .soft {
        font-size: 12px;
    }

    .trash {
        padding-left: 5px;
        display: inline;
        width: 13.5px;
        height: 15.7px;
    }

    .borderPlayerTable {
        position: relative;
    }

    .borderText {
        text-decoration-line: underline;
        background-color: white;
        color: #C95D4D;
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        position: absolute;
        display: flex;
        bottom: -4.5%;
        left: 20px;
        padding: 0 10px;
    }

    .arrowDown {
        width: 16px;
        height: 14px;
        background-color: white;
        position: absolute;
        display: flex;
        bottom: -2%;
        right: 30px;
        padding: 0 10px;
    }

    .arrowDown img {
        width: 20px;
        height: 20px;
    }

    .right .compass {
        display: flex;
        position: relative;
    }

    .right .compassIcon {
        width: 45px;
        height: 50px;
        top: 12px;
        right: 7px;
        position: absolute;
    }

    /*----------------COURTS GROUP----------------*/
    .mobileCourtsGroup {
        margin-top: 5px;
        display: grid;
        height: 285px;
        grid-template-columns: repeat(4, 0.24fr);
        border-radius: 15px;
        background-color: #F8F8F8;
        align-items: center;
        padding: 30px 10px 10px 40px;
    }

    .mobileCard {
        width: 44px;
        height: 80px;
        box-shadow: 0 0 2px 2px #f20000b3;
        padding: 3px;
        display: grid;
    }

    .mobileCard>div {
        border: 1px solid rgba(0, 0, 0, 0.8);
    }

    .deactiveMobileCard {
        background: #F3F3F3;
        filter: blur(0.8px);
        box-shadow: none;
    }

    .item1,
    .item5 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .item1,
    .item2,
    .item5,
    .item6 {
        padding: 8px 0;
    }

    .item2,
    .item6 {
        grid-column-start: 3;
        grid-column-end: 5;
    }


    .item3,
    .item4 {
        grid-column-start: 1;
        grid-column-end: 5;
    }

    /*----------------BUTTON----------------*/
    .button {
        width: 100%;
        position: relative;
        bottom: -15px;
        left: 10px;
        margin-bottom: 80px;
    }

    button {
        font-size: 16px;
        padding: 9px 20px;
        height: min-content;
    }

}